
{{#if waiters}}
<h1>Welcome To add Waiters {{waiters.name}}!</h1>
<h2>Please add the days you wish to work.</h2>
{{/if}}



<form class="" action="" method="post">
          <input type="checkbox" id="Monday" value="Monday" name="days">
          <label for="Monday" class="light">Monday</label>
          <input type="checkbox" id="Tuesday" value="Tuesday" name="days">
          <label for="Tuesday" class="light">Tuesday</label>
          <input type="checkbox" id="Wednesday" value="Wednesday" name="days">
          <label for="Wednesday" class="light">Wednesday</label>
          <input type="checkbox" id="Thursday" value="Thursday" name="days">
          <label for="Thursday" class="light">Thursday</label>
          <input type="checkbox" id="Friday" value="Friday" name="days">
          <label for="Friday" class="light">Friday</label>
          <input type="checkbox" id="Saturday" value="Saturday" name="days">
          <label for="Saturday" class="light">Saturday</label>
          <input type="checkbox" id="Sunday" value="Sunday" name="days">
          <label for="Sunday" class="light">Sunday</label>

          <input type="submit"  name="submitButton" value="Submit">
          <br>
  </form>
